#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1, 0, 2, 2
PRODUCTVERSION 1, 0, 2, 2
FILEFLAGS      0x0L
FILEFLAGSMASK  0x3fL
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
            BEGIN
                VALUE "CompanyName", "CIS"
                VALUE "FileDescription", "Crystal.Live.AppLaunch"
                VALUE "FileVersion", "1.0.2.2"
                VALUE "LegalCopyright", ""
                VALUE "InternalName", "AppLaunch"
                VALUE "OriginalFilename","AppLaunch.dll"
                VALUE "ProductName", "AppLaunch"
                VALUE "ProductVersion", "1.0.2.2"
            END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

