#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1, 0, 1, 3
PRODUCTVERSION 1, 0, 1, 3
FILEFLAGS      0x0L
FILEFLAGSMASK  0x3fL
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "000004b0"
BEGIN
VALUE "CompanyName", "CIS"
VALUE "FileDescription", "Crystal.Live.RecordService"
VALUE "FileVersion", "1.0.1.3"
VALUE "LegalCopyright", ""
VALUE "InternalName", "RecordService"
VALUE "OriginalFilename", "RecordService.dll"
VALUE "ProductName", "RecordService"
VALUE "ProductVersion", "1.0.1.3"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0, 1200
END
END

